body {
  margin: 5px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #ccc;
}

.grid-container {
  background: transparent;
  max-width: 100;
  /* max-height: 734px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  justify-self: stretch;
  align-items: stretch;
}

.grid-container>div {
  background: #eee;
  padding: 10px;
  border: 1px solid #777;
  margin: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
  min-height: 500px;
  border-radius: 8px;
}

.grid-container>div:nth-child(2) {
  grid-column: span 1;
  grid-row: 2 / span 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 3px dashed #000000;
  outline-offset: 0;
}

html {
  font: 62.5% / 1.15 sans-serif;
}

h1,
h2 {
  margin-bottom: 0;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

button::-moz-focus-inner {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius: 8px;
}

button,
input {
  overflow: visible;
}

input[type="text"] {
  border-radius: 0;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}

select {
  background: white;
  border-radius: 8px;
}

header {
  margin: 0 0 5px 0;
}

img,
svg,
video {
  display: block;
  max-width: 1000px;
}

.form-group>input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}

.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
}

.btn__danger {
  color: #fff;
  background-color: #e70000;
  border-color: #000000;
}

.btn__primary {
  color: #fff;
  background-color: #000;
}

.btn__clear {
  position: relative;
  top: 0;
  border-radius: 8px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 2px;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: #1e90ff;
  transform: translateX(2px);
}

.input-group {
  display: flex;
  justify-content: space-between;
  max-height: 80px;
}

.input-group>* {
  flex: 1 1 49%;
}

.input-group>*+* {
  margin-left: 0.8rem;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  max-height: 80px;
}

.btn-group>* {
  flex: 1 1 49%;
}

.btn-group>*+* {
  margin-left: 0.8rem;
}

.btn-send {
  margin: 5px 0 0 0;
}

.dropdown-selector-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-height: 80px;
  margin-bottom: 5px;

}

.dropdown-selector-group>*+* {
  width: 100%;
  margin-left: 0.8rem;
}

.serial {
  background: #fff;
}

@media screen and (min-width: 550px) {
  .serial {
    padding: 4rem;
  }
}

.serial>* {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.serial>form {
  max-width: 100%;
}

.serial>h1 {
  display: block;
  max-width: 100%;
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
}

.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
}

.input__lg {
  padding: 2rem;
  border: 2px solid #000;
}

.input__lg:focus {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}

*:disabled {
  opacity: 0.3;
  background: #eeeeee;
}


.slider-group {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-height: 80px;
}

.slider-group>*+* {
  width: 100%;
  margin-left: 0.8rem;
}

.slider-input {
  flex: 1 1 27%;
  height: 40px;
}

.slider {
  -webkit-appearance: none;
  border-radius: 10px;
  background: #bdbdbd;
  border: 1px solid #000000;
  outline: none;
  -webkit-transition: .2s;
  flex: 2 2 auto;
  height: 5px;
  margin-top: 19px;
}


.slider:hover {
  opacity: .7;
  cursor: pointer;
}

.slider:disabled {
  opacity: 0.3;
  background: #eeeeee;
  border: 1px solid #000000;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 44px;
  height: 44px;
  border: .5px solid #7e7e7e;
  border-radius: 50%;
  background: url('./lets-go.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: url('./lets-go.png');
  cursor: pointer;
}

.slider-input-text:focus {
  box-shadow: inset 0 0 0 2px;
}

[class*="__lg"] {
  display: inline-block;
  width: 100%;
  font-size: 1.9rem;
}

[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}

.serial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.serial>* {
  flex: 0 0 100%;
}

.science-text {
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #565656;
  display: inline-block;
  margin-top: 0.4rem;
  text-align: center;
  line-height: 4.4rem;
}

.input-text {
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #565656;
}

.input-text:focus {
  box-shadow: inset 0 0 0 2px;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  border-radius: 8px;
}

.img-label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.footer {
  margin-top: 10px;
}

.operational-view{
  display: grid;
  column-gap: 5px;
  height: vh;
  width: vw;
  grid-template-columns: 1fr 2.65fr 1fr;
}
#ov-main-camera{
  background-image: url(Main\ Camera\ Test.png);
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 4/3;
  align-items: center;
  overflow: hidden;
}

#ov-camera-grid{
  display: grid;
  grid-template-columns: 1f;
} 

#ov-tools{
  display: grid;
  grid-template-columns: 1f;
}

#ov-status{
  height: 150px;
  background-color: white;
  border: 2px solid #565656;
  border-radius: 8px;
}



